.personal-info-page {
    text-align: center;
    background-color: #2d2d2d;
    color: #4CAF50;
    padding: 20px;
    min-height: 100vh;
  }
  
  .personal-info-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .personal-info-form label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
  }
  
  .personal-info-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    background-color: #fff;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .update-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .update-button:hover {
    background-color: #45a049;
  }